<link rel="stylesheet" href="{{STATIC_URL}}css/jquery/jqtransform/style.css" type="text/css" media="all" />
<script type="text/javascript" src="{{STATIC_URL}}js/jquery/plugins/jqtransform.js" ></script>
<script language="javascript">
	function checkCountry(countryCode){
		var province = $('#namedattr_provincia');

		if(countryCode.toLowerCase() != 'it'){
			province.parents('.line').find('.jqTransformSelectWrapper span').html('');
			province.val('').attr('disabled', 'disabled');
		}else{
			province.removeAttr('disabled');
		}
	}
	
	$(function(){
		$('#newsletterForm').jqTransform(
			{
				imgPath:'{{STATIC_URL}}css/jquery/jqtransform/img/'
			}
		);

		$( "#user_dateofbirth" ).datepicker(
			{
				changeYear: true,
				dateFormat: "dd.mm.yy",
				yearRange: "1900:c"
			}
		);

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
};

var csrftoken = getCookie('csrftoken');

$.ajaxSetup({
    crossDomain: false, // obviates need for sameOrigin test
    beforeSend: function(xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }
});
		$('#newsletterForm').submit(function(e){
			e.preventDefault();
			
			var test = true;
			var params = {};
			var form = $(this);
			var regMail = new RegExp('^[a-z0-9]+([_|\.|-]{1}[a-z0-9]+)*@[a-z0-9]+([_|\.|-]{1}[a-z0-9]+)*[\.]{1}[a-z]{2,6}$', 'i');

			form.find('input, select').each(function(index){
				var field = $(this);
				var fieldTest = true;
				var errorMessage = "Obligatoire";

				params[ field.attr('name') ] = field.val();
				return;

				if(field.is(':not(:checkbox)')){
					if(field.is('#namedattr_provincia') && field.val() == ""){
						if($('#user_ISOCountryCode').val().toLowerCase() == 'it'){
							fieldTest = false;
						}
					}else if(field.val() == ""){
						fieldTest = false;
					}

					if(field.is('#pemail') && !regMail.test(field.val())){
						fieldTest = false;
					}
				}else if(field.is(':not(:checked)')){
					fieldTest = false;
					errorMessage = "Obligatoire";

					field.click(function(){
						if($(this).is(':checked'))
							$(this).parents('.line').find(".caption").html("");
					});
				}

				if(!fieldTest){
					test = false;
					field.parent().click(function(){
						$(this).unbind('click').parents('.line').removeClass('error');
					}).parents('.line').addClass('error').find('.caption').html( errorMessage );
				}else{
					if(field.is(':not(:checkbox)'))
						params[ field.attr('name') ] = field.val();

					field.parents('.line').removeClass('error').find('.caption').html("")
				}
			});

			if(test){
				$.ajax({
					type: 'POST',
					data:{
						cos_url: $('#newsletterForm').attr('action')+'?'+$('#newsletterForm').serialize()
						
					},
					url: '/newslettercos/',
					success: function(data, textStatus, jqXHR){
						result = eval("(" + data + ')');
						if(result.updateRecipientNoMsg['@success']){
							alert("Vous êtes enregistré avec succès.");
						}else{
							alert("Une erreur est survenue lors du traitement des données.")
						}
					}
				});
			}
		});
	});
</script>

<div class="" id="response"></div>

<form action="https://secure.ecircle-ag.com/gnv/automated/action.jsp" method="get" id="newsletterForm">
	<input type="hidden" name="gid" value="850732332">
	<input type="hidden" name="action" value="updateRecipientNoMsg">
	<input type="hidden" name="errorPage" value="//automated/action.jsp">
	<div class="line">
		<label for="user_lastname" class="label">Nom</label>
		<input type="text" name="user_lastname" id="user_lastname" class="field">
		<span class="caption"></span>
	</div>
	<div class="line">
		<label for="user_firstname" class="label">Prénom</label>
		<input type="text" name="user_firstname" id="user_firstname" class="field">
		<span class="caption"></span>
	</div>
	<div class="line">
		<label for="user_title" class="label">Sexe</label>
		<select name="user_title" id="user_title">
			<option value="1">Homme</option>
			<option value="2">Femme</option>
		</select>
		<span class="caption"></span>
	</div>
	<div class="line">
		<label for="user_dateofbirth" class="label">Date de naissance</label>
		<input type="text" name="user_dateofbirth" id="user_dateofbirth" class="field" readonly>
		<span class="caption">(jj.mm.aaaa)</span>
	</div>
	<div class="line">
		<label for="user_ISOCountryCode" class="label">Nationalité</label>
		<select name="user_ISOCountryCode" id="user_ISOCountryCode" onchange="checkCountry(this.value)">
			<option value=""></option>
			<option value="AF">AFGHANISTAN</option>
			<option value="AX">ÅLAND ISLANDS</option>
			<option value="AL">ALBANIA</option>
			<option value="DZ">ALGERIA</option>
			<option value="AS">AMERICAN SAMOA</option>
			<option value="AD">ANDORRA</option>
			<option value="AO">ANGOLA</option>
			<option value="AI">ANGUILLA</option>
			<option value="AQ">ANTARCTICA</option>
			<option value="AG">ANTIGUA AND BARBUDA</option>
			<option value="AR">ARGENTINA</option>
			<option value="AM">ARMENIA</option>
			<option value="AW">ARUBA</option>
			<option value="AU">AUSTRALIA</option>
			<option value="AT">AUSTRIA</option>
			<option value="AZ">AZERBAIJAN</option>
			<option value="BS">BAHAMAS</option>
			<option value="BH">BAHRAIN</option>
			<option value="BD">BANGLADESH</option>
			<option value="BB">BARBADOS</option>
			<option value="BY">BELARUS</option>
			<option value="BE">BELGIUM</option>
			<option value="BZ">BELIZE</option>
			<option value="BJ">BENIN</option>
			<option value="BM">BERMUDA</option>
			<option value="BT">BHUTAN</option>
			<option value="BO">BOLIVIA, PLURINATIONAL STATE OF</option>
			<option value="BQ">BONAIRE, SINT EUSTATIUS AND SABA</option>
			<option value="BA">BOSNIA AND HERZEGOVINA</option>
			<option value="BW">BOTSWANA</option>
			<option value="BV">BOUVET ISLAND</option>
			<option value="BR">BRAZIL</option>
			<option value="IO">BRITISH INDIAN OCEAN TERRITORY</option>
			<option value="BN">BRUNEI DARUSSALAM</option>
			<option value="BG">BULGARIA</option>
			<option value="BF">BURKINA FASO</option>
			<option value="BI">BURUNDI</option>
			<option value="KH">CAMBODIA</option>
			<option value="CM">CAMEROON</option>
			<option value="CA">CANADA</option>
			<option value="CV">CAPE VERDE</option>
			<option value="KY">CAYMAN ISLANDS</option>
			<option value="CF">CENTRAL AFRICAN REPUBLIC</option>
			<option value="TD">CHAD</option>
			<option value="CL">CHILE</option>
			<option value="CN">CHINA</option>
			<option value="CX">CHRISTMAS ISLAND</option>
			<option value="CC">COCOS (KEELING) ISLANDS</option>
			<option value="CO">COLOMBIA</option>
			<option value="KM">COMOROS</option>
			<option value="CG">CONGO</option>
			<option value="CD">CONGO, THE DEMOCRATIC REPUBLIC OF THE</option>
			<option value="CK">COOK ISLANDS</option>
			<option value="CR">COSTA RICA</option>
			<option value="CI">CÔTE D'IVOIRE</option>
			<option value="HR">CROATIA</option>
			<option value="CU">CUBA</option>
			<option value="CW">CURAÇAO</option>
			<option value="CY">CYPRUS</option>
			<option value="CZ">CZECH REPUBLIC</option>
			<option value="DK">DENMARK</option>
			<option value="DJ">DJIBOUTI</option>
			<option value="DM">DOMINICA</option>
			<option value="DO">DOMINICAN REPUBLIC</option>
			<option value="EC">ECUADOR</option>
			<option value="EG">EGYPT</option>
			<option value="SV">EL SALVADOR</option>
			<option value="GQ">EQUATORIAL GUINEA</option>
			<option value="ER">ERITREA</option>
			<option value="EE">ESTONIA</option>
			<option value="ET">ETHIOPIA</option>
			<option value="FK">FALKLAND ISLANDS (MALVINAS)</option>
			<option value="FO">FAROE ISLANDS</option>
			<option value="FJ">FIJI</option>
			<option value="FI">FINLAND</option>
			<option value="FR">FRANCE</option>
			<option value="GF">FRENCH GUIANA</option>
			<option value="PF">FRENCH POLYNESIA</option>
			<option value="TF">FRENCH SOUTHERN TERRITORIES</option>
			<option value="GA">GABON</option>
			<option value="GM">GAMBIA</option>
			<option value="GE">GEORGIA</option>
			<option value="DE">GERMANY</option>
			<option value="GH">GHANA</option>
			<option value="GI">GIBRALTAR</option>
			<option value="GR">GREECE</option>
			<option value="GL">GREENLAND</option>
			<option value="GD">GRENADA</option>
			<option value="GP">GUADELOUPE</option>
			<option value="GU">GUAM</option>
			<option value="GT">GUATEMALA</option>
			<option value="GG">GUERNSEY</option>
			<option value="GN">GUINEA</option>
			<option value="GW">GUINEA-BISSAU</option>
			<option value="GY">GUYANA</option>
			<option value="HT">HAITI</option>
			<option value="HM">HEARD ISLAND AND MCDONALD ISLANDS</option>
			<option value="VA">HOLY SEE (VATICAN CITY STATE)</option>
			<option value="HN">HONDURAS</option>
			<option value="HK">HONG KONG</option>
			<option value="HU">HUNGARY</option>
			<option value="IS">ICELAND</option>
			<option value="IN">INDIA</option>
			<option value="ID">INDONESIA</option>
			<option value="IR">IRAN, ISLAMIC REPUBLIC OF</option>
			<option value="IQ">IRAQ</option>
			<option value="IE">IRELAND</option>
			<option value="IM">ISLE OF MAN</option>
			<option value="IL">ISRAEL</option>
			<option value="IT">ITALY</option>
			<option value="JM">JAMAICA</option>
			<option value="JP">JAPAN</option>
			<option value="JE">JERSEY</option>
			<option value="JO">JORDAN</option>
			<option value="KZ">KAZAKHSTAN</option>
			<option value="KE">KENYA</option>
			<option value="KI">KIRIBATI</option>
			<option value="KP">KOREA, DEMOCRATIC PEOPLE'S REPUBLIC OF</option>
			<option value="KR">KOREA, REPUBLIC OF</option>
			<option value="KW">KUWAIT</option>
			<option value="KG">KYRGYZSTAN</option>
			<option value="LA">LAO PEOPLE'S DEMOCRATIC REPUBLIC</option>
			<option value="LV">LATVIA</option>
			<option value="LB">LEBANON</option>
			<option value="LS">LESOTHO</option>
			<option value="LR">LIBERIA</option>
			<option value="LY">LIBYA</option>
			<option value="LI">LIECHTENSTEIN</option>
			<option value="LT">LITHUANIA</option>
			<option value="LU">LUXEMBOURG</option>
			<option value="MO">MACAO</option>
			<option value="MK">MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF</option>
			<option value="MG">MADAGASCAR</option>
			<option value="MW">MALAWI</option>
			<option value="MY">MALAYSIA</option>
			<option value="MV">MALDIVES</option>
			<option value="ML">MALI</option>
			<option value="MT">MALTA</option>
			<option value="MH">MARSHALL ISLANDS</option>
			<option value="MQ">MARTINIQUE</option>
			<option value="MR">MAURITANIA</option>
			<option value="MU">MAURITIUS</option>
			<option value="YT">MAYOTTE</option>
			<option value="MX">MEXICO</option>
			<option value="FM">MICRONESIA, FEDERATED STATES OF</option>
			<option value="MD">MOLDOVA, REPUBLIC OF</option>
			<option value="MC">MONACO</option>
			<option value="MN">MONGOLIA</option>
			<option value="ME">MONTENEGRO</option>
			<option value="MS">MONTSERRAT</option>
			<option value="MA">MOROCCO</option>
			<option value="MZ">MOZAMBIQUE</option>
			<option value="MM">MYANMAR</option>
			<option value="NA">NAMIBIA</option>
			<option value="NR">NAURU</option>
			<option value="NP">NEPAL</option>
			<option value="NL">NETHERLANDS</option>
			<option value="NC">NEW CALEDONIA</option>
			<option value="NZ">NEW ZEALAND</option>
			<option value="NI">NICARAGUA</option>
			<option value="NE">NIGER</option>
			<option value="NG">NIGERIA</option>
			<option value="NU">NIUE</option>
			<option value="NF">NORFOLK ISLAND</option>
			<option value="MP">NORTHERN MARIANA ISLANDS</option>
			<option value="NO">NORWAY</option>
			<option value="OM">OMAN</option>
			<option value="PK">PAKISTAN</option>
			<option value="PW">PALAU</option>
			<option value="PS">PALESTINE, STATE OF</option>
			<option value="PA">PANAMA</option>
			<option value="PG">PAPUA NEW GUINEA</option>
			<option value="PY">PARAGUAY</option>
			<option value="PE">PERU</option>
			<option value="PH">PHILIPPINES</option>
			<option value="PN">PITCAIRN</option>
			<option value="PL">POLAND</option>
			<option value="PT">PORTUGAL</option>
			<option value="PR">PUERTO RICO</option>
			<option value="QA">QATAR</option>
			<option value="RE">RÉUNION</option>
			<option value="RO">ROMANIA</option>
			<option value="RU">RUSSIAN FEDERATION</option>
			<option value="RW">RWANDA</option>
			<option value="BL">SAINT BARTHÉLEMY</option>
			<option value="SH">SAINT HELENA, ASCENSION AND TRISTAN DA CUNHA</option>
			<option value="KN">SAINT KITTS AND NEVIS</option>
			<option value="LC">SAINT LUCIA</option>
			<option value="MF">SAINT MARTIN (FRENCH PART)</option>
			<option value="PM">SAINT PIERRE AND MIQUELON</option>
			<option value="VC">SAINT VINCENT AND THE GRENADINES</option>
			<option value="WS">SAMOA</option>
			<option value="SM">SAN MARINO</option>
			<option value="ST">SAO TOME AND PRINCIPE</option>
			<option value="SA">SAUDI ARABIA</option>
			<option value="SN">SENEGAL</option>
			<option value="RS">SERBIA</option>
			<option value="SC">SEYCHELLES</option>
			<option value="SL">SIERRA LEONE</option>
			<option value="SG">SINGAPORE</option>
			<option value="SX">SINT MAARTEN (DUTCH PART)</option>
			<option value="SK">SLOVAKIA</option>
			<option value="SI">SLOVENIA</option>
			<option value="SB">SOLOMON ISLANDS</option>
			<option value="SO">SOMALIA</option>
			<option value="ZA">SOUTH AFRICA</option>
			<option value="GS">SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS</option>
			<option value="SS">SOUTH SUDAN</option>
			<option value="ES">SPAIN</option>
			<option value="LK">SRI LANKA</option>
			<option value="SD">SUDAN</option>
			<option value="SR">SURINAME</option>
			<option value="SJ">SVALBARD AND JAN MAYEN</option>
			<option value="SZ">SWAZILAND</option>
			<option value="SE">SWEDEN</option>
			<option value="CH">SWITZERLAND</option>
			<option value="SY">SYRIAN ARAB REPUBLIC</option>
			<option value="TW">TAIWAN, PROVINCE OF CHINA</option>
			<option value="TJ">TAJIKISTAN</option>
			<option value="TZ">TANZANIA, UNITED REPUBLIC OF</option>
			<option value="TH">THAILAND</option>
			<option value="TL">TIMOR-LESTE</option>
			<option value="TG">TOGO</option>
			<option value="TK">TOKELAU</option>
			<option value="TO">TONGA</option>
			<option value="TT">TRINIDAD AND TOBAGO</option>
			<option value="TN">TUNISIA</option>
			<option value="TR">TURKEY</option>
			<option value="TM">TURKMENISTAN</option>
			<option value="TC">TURKS AND CAICOS ISLANDS</option>
			<option value="TV">TUVALU</option>
			<option value="UG">UGANDA</option>
			<option value="UA">UKRAINE</option>
			<option value="AE">UNITED ARAB EMIRATES</option>
			<option value="GB">UNITED KINGDOM</option>
			<option value="US">UNITED STATES</option>
			<option value="UM">UNITED STATES MINOR OUTLYING ISLANDS</option>
			<option value="UY">URUGUAY</option>
			<option value="UZ">UZBEKISTAN</option>
			<option value="VU">VANUATU</option>
			<option value="VE">VENEZUELA, BOLIVARIAN REPUBLIC OF</option>
			<option value="VN">VIET NAM</option>
			<option value="VG">VIRGIN ISLANDS, BRITISH</option>
			<option value="VI">VIRGIN ISLANDS, U.S.</option>
			<option value="WF">WALLIS AND FUTUNA</option>
			<option value="EH">WESTERN SAHARA</option>
			<option value="YE">YEMEN</option>
			<option value="ZM">ZAMBIA</option>
			<option value="ZW">ZIMBABWE</option>
		</select>
		<span class="caption"></span>
	</div>
	<div class="line">
		<label for="namedattr_provincia" class="label">Province</label>
		<select name="namedattr_provincia" id="namedattr_provincia">
			<option value=""></option>
			<option value="AG">Agrigento</option>
			<option value="AL">Alessandria</option>
			<option value="AN">Ancona</option>
			<option value="AO">Aosta</option>
			<option value="AR">Arezzo</option>
			<option value="AP">Ascoli Piceno</option>
			<option value="AT">Asti</option>
			<option value="AV">Avellino</option>
			<option value="BA">Bari</option>
			<option value="BT">Barletta-Andria-Trani</option>
			<option value="BL">Belluno</option>
			<option value="BN">Benevento</option>
			<option value="BG">Bergamo</option>
			<option value="BI">Biella</option>
			<option value="BO">Bologna</option>
			<option value="BZ">Bolzano</option>
			<option value="BS">Brescia</option>
			<option value="BR">Brindisi</option>
			<option value="CA">Cagliari</option>
			<option value="CL">Caltanissetta</option>
			<option value="CB">Campobasso</option>
			<option value="CI">Carbonia-Iglesias</option>
			<option value="CE">Caserta</option>
			<option value="CT">Catania</option>
			<option value="CZ">Catanzaro</option>
			<option value="CH">Chieti</option>
			<option value="CO">Como</option>
			<option value="CS">Cosenza</option>
			<option value="CR">Cremona</option>
			<option value="KR">Crotone</option>
			<option value="CN">Cuneo</option>
			<option value="EN">Enna</option>
			<option value="FM">Fermo</option>
			<option value="FE">Ferrara</option>
			<option value="FI">Firenze</option>
			<option value="FG">Foggia</option>
			<option value="FC">Forlì-Cesena</option>
			<option value="FR">Frosinone</option>
			<option value="GE">Genova</option>
			<option value="GO">Gorizia</option>
			<option value="GR">Grosseto</option>
			<option value="IM">Imperia</option>
			<option value="IS">Isernia</option>
			<option value="SP">La Spezia</option>
			<option value="AQ">L'Aquila</option>
			<option value="LT">Latina</option>
			<option value="LE">Lecce</option>
			<option value="LC">Lecco</option>
			<option value="LI">Livorno</option>
			<option value="LO">Lodi</option>
			<option value="LU">Lucca</option>
			<option value="MC">Macerata</option>
			<option value="MN">Mantova</option>
			<option value="MS">Massa-Carrara</option>
			<option value="MT">Matera</option>
			<option value="VS">Medio-Campidano</option>
			<option value="ME">Messina</option>
			<option value="MI">Milano</option>
			<option value="MO">Modena</option>
			<option value="MB">Monza-Brianza</option>
			<option value="NA">Napoli</option>
			<option value="NO">Novara</option>
			<option value="NU">Nuoro</option>
			<option value="OG">Ogliastra</option>
			<option value="OT">Olbia-Tempio</option>
			<option value="OR">Oristano</option>
			<option value="PD">Padova</option>
			<option value="PA">Palermo</option>
			<option value="PR">Parma</option>
			<option value="PV">Pavia</option>
			<option value="PG">Perugia</option>
			<option value="PU">Pesaro-Urbino</option>
			<option value="PE">Pescara</option>
			<option value="PC">Piacenza</option>
			<option value="PI">Pisa</option>
			<option value="PT">Pistoia</option>
			<option value="PN">Pordenone</option>
			<option value="PZ">Potenza</option>
			<option value="PO">Prato</option>
			<option value="RG">Ragusa</option>
			<option value="RA">Ravenna</option>
			<option value="RC">Reggio Calabria</option>
			<option value="RE">Reggio Emilia</option>
			<option value="RI">Rieti</option>
			<option value="RN">Rimini</option>
			<option value="RM">Roma</option>
			<option value="RO">Rovigo</option>
			<option value="SA">Salerno</option>
			<option value="SS">Sassari</option>
			<option value="SV">Savona</option>
			<option value="SI">Siena</option>
			<option value="SR">Siracusa</option>
			<option value="SO">Sondrio</option>
			<option value="TA">Taranto</option>
			<option value="TE">Teramo</option>
			<option value="TR">Terni</option>
			<option value="TO">Torino</option>
			<option value="TP">Trapani</option>
			<option value="TN">Trento</option>
			<option value="TV">Treviso</option>
			<option value="TS">Trieste</option>
			<option value="UD">Udine</option>
			<option value="VA">Varese</option>
			<option value="VE">Venezia</option>
			<option value="VB">Verbania</option>
			<option value="VC">Vercelli</option>
			<option value="VR">Verona</option>
			<option value="VV">Vibo Valentia</option>
			<option value="VI">Vicenza</option>
			<option value="VT">Viterbo</option>
		</select>
		<span class="caption"></span>
	</div>
	<div class="line">
		<label for="user_zipcode" class="label">Code Postal</label>
		<input type="text" name="user_zipcode" id="user_zipcode" class="field">
		<span class="caption"></span>
	</div>
	<div class="line">
		<label for="pemail" class="label">E-mail</label>
		<input type="text" name="pemail" id="pemail" class="field">
		<span class="caption"></span>
	</div>
	<div class="line">
		<label for="cgu_accept" style="width: 100%;">
			<input type="checkbox" name="cgu_accept" id="cgu_accept">
			J'ai pris compte de l'information en vertu du décret-loi 196/2003.
			<span class="caption inline"></span>
		</label>
	</div>
	<div class="line">
		<label for="newsletter_apply" style="width: 100%;">
			<input type="checkbox" name="newsletter_apply" id="newsletter_apply">
			J'accepte de recevoir la newsletter de Grandi Navi Veloci qui contient les promotions et les dernières nouvelles GNV.
			<span class="caption inline"></span>
		</label>
	</div>
	<div class="line">
		<input type="submit" value="Valider" class="submit">
	</div>
</form>
