<section class="pageSlider cycle-slideshow" id="360Slider" data-cycle-timeout="0" data-cycle-paused="true" data-cycle-pager-template="<span><em></em> ##slideNum## </span>" data-cycle-tmpl-regex="##((.)?.*?)##" data-cycle-pager-active-class="active" data-cycle-slides="> .slide" >
	<div class="pager cycle-pager"></div>
	<div class="slide" data-cycle-starting-slide="1"  data-cycle-slides="> img">
		<div class="visual"><img src="/media/public/filer/filer_public/2013/09/30/slide1.jpg" alt=""></div>
		<div class="visual"><img src="/media/public/filer/filer_public/2013/09/30/slide2.jpg" alt=""></div>
		<div class="visual"><img src="/media/public/filer/filer_public/2013/09/30/slide3.jpg" alt=""></div>
	</div>
	<div class="slide" data-cycle-starting-slide="1"  data-cycle-slides="> img">
		<div class="visual"><img src="/media/public/filer/filer_public/2013/09/30/slide1_1.jpg" alt=""></div>
		<div class="visual"><img src="/media/public/filer/filer_public/2013/09/30/slide2_1.jpg" alt=""></div>
		<div class="visual"><img src="/media/public/filer/filer_public/2013/09/30/slide3_1.jpg" alt=""></div>
	</div>
	<div class="slide" data-cycle-starting-slide="1"  data-cycle-slides="> img">
		<div class="visual"><img src="/media/public/filer/filer_public/2013/09/30/slider1.jpg" alt=""></div>
		<div class="visual"><img src="/media/public/filer/filer_public/2013/09/30/slider2.jpg" alt=""></div>
		<div class="visual"><img src="/media/public/filer/filer_public/2013/09/30/slider3.jpg" alt=""></div>
	</div>
	<div class="slide" data-cycle-starting-slide="1"  data-cycle-slides="> img">
		<div class="visual"><img src="/media/public/filer/filer_public/2013/09/30/slider1_1.jpg" alt=""></div>
		<div class="visual"><img src="/media/public/filer/filer_public/2013/09/30/slider2_1.jpg" alt=""></div>
		<div class="visual"><img src="/media/public/filer/filer_public/2013/09/30/slider3_1.jpg" alt=""></div>
	</div>
</section>

<script>
	$( '#360Slider .slide' ).each(function(){
		var startItem = 0;
		var slide = $(this);
		var imgCount = slide.find('.visual').size();
		var first = slide.find('.visual:first').addClass('active').css('display', 'block');

		setInterval(
			function(){
				var active = slide.find('.visual.active');
				var index = active.index();
				
				if(index >= (imgCount - 1) ){
					index = 0;
				}else{
					index++;
				}
				//console.log(index)

				
				active.removeClass('active').fadeOut(500, function(){
					slide.find('.visual:eq(' + index + ')').fadeIn(1000, function(){
						$(this).addClass('active')
					});
				});
			},
			5000
		);
	});
</script>